@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat:wght@100&family=Open+Sans:wght@300;400&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: "Open Sans", sans-serif;
  background-color: #eee;
  color: #444; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Caveat", cursive;
  line-height: 1; }

.underline, header p::after, .uvod article .text h4::after, .cta h4::after {
  display: block;
  content: "";
  width: 200px;
  height: 2px;
  background: orangered;
  margin: 30px auto 0 auto; }

.container {
  width: 80%;
  margin: auto; }
  @media (max-width: 768px) {
    .container {
      width: 90%; } }

/*HEADER STYLE*/
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/header.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center; }
  @media (max-width: 768px) {
    header {
      height: 70vh; } }
  header p {
    font-size: 2rem;
    font-weight: 300; }
    @media (max-width: 768px) {
      header p {
        font-size: 1.6rem; } }
    header p::after {
      /*ubacujem pseudoklasu after, da ova pravila idu odmah u okviru naseg paragrafa*/
      /*extend u ovom slucaju nasledjuje sve vrednosti klase underline*/
      /*kako ne bismo 100 puta pisali iste linije koda, na ovaj nacin kazemo samo da nasledi odredjena svojstva*/ }
  header h1 {
    font-size: 7rem; }
    @media (max-width: 768px) {
      header h1 {
        font-size: 3rem; } }

/********************
*********************UVOD****************************/
.uvod {
  display: flex;
  justify-content: space-between;
  /*razmak izmedju ta dva diva*/
  padding: 70px 0;
  text-align: center;
  /*centririamo sav tekst unutar te sekcije sa klasom uvod*/
  flex-wrap: wrap; }
  .uvod article {
    flex: 0 0 48%;
    /*flex-grow 0, flex-shrink 0, flex-basisis 48%*/ }
    @media (max-width: 768px) {
      .uvod article {
        flex: 0 0 100%; } }
    .uvod article img {
      width: 100%;
      /*slikama podesimo 100% roditeljske sirine, tako izbegavmo da slike idu vise od sirine kontejnera*/ }
    .uvod article .text {
      background: #fff;
      padding: 40px;
      /* kako bi se belina prostora u kome se nalazi tekst povecala*/
      position: relative;
      top: -15px; }
      .uvod article .text h4 {
        margin: 20px 0;
        font-size: 1.2rem;
        font-family: "Open Sans", sans-serif;
        font-weight: 300; }
        .uvod article .text h4::after {
          width: 70px;
          /*nasledio sve vrednosti samo promeili sirinu*/ }
      .uvod article .text h2 {
        margin: 20px 0;
        font-size: 2.3rem; }
      .uvod article .text button {
        padding: 15px 30px;
        background: orangered;
        margin-top: 30px;
        font-size: 1rem;
        border: none;
        text-transform: none; }
        .uvod article .text button:hover {
          cursor: pointer;
          background: #444;
          color: #fff;
          transition: 0.3s ease; }

/*****************************
CALL TO ACTION STYLE
*****************************/
.cta {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/cta.jpg);
  height: 60vh;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center; }
  .cta h4 {
    font-size: 1.7rem;
    font-weight: 300;
    font-family: "Open Sans", sans-serif; }
    @media (max-width: 768px) {
      .cta h4 {
        font-size: 1.2rem;
        margin-top: 20px; } }

h2 {
  font-size: 6rem; }
  @media (max-width: 768px) {
    h2 {
      font-size: 3rem; } }

/********************************
GALERIJA STYLE
*********************************/
.galerija {
  display: flex;
  padding: 70px 0;
  flex-wrap: wrap;
  justify-content: space-between; }
  .galerija article {
    flex: 0 0 48%;
    margin-bottom: 60px; }
    @media (max-width: 768px) {
      .galerija article {
        flex: 0 0 100%; } }
  .galerija img {
    width: 100%;
    border: 15px solid #fff;
    border-radius: 20px;
    box-shadow: 0 0 20px #999; }
    .galerija img:hover {
      transform: scale(1.1);
      transition-duration: 0.7s;
      border: 15px solid orangered; }

/**********************************
FOOTER STYLE
*******************************/
footer {
  padding: 40px 0;
  text-align: center;
  background: #444;
  color: #fff; }
  footer a {
    color: orangered;
    margin: 0 20px; }
    footer a i {
      font-size: 2rem; }
    footer a:hover {
      color: #eee;
      transition: 0.3s ease; }
  footer p {
    color: #eee;
    margin-top: 30px;
    font-size: 1rem; }

/******************************
RESPONSIVE DESIGN
*******************************/

/*# sourceMappingURL=style.css.map */
